<<<<<<< HEAD
<%= render 'header' %>

<div class="container" id="content">  
  <div class="row">
    <% if current_student == @student %>
      <div class="page-header clearfix">
        <h1 class="pull-left">Edit Profile</h1>
        
        <div class="pull-right">
          <div class="btn-group">
            <%= link_to "I'm here!", new_attendance_path(current_student), class: 'btn btn-primary' %>
            <%= link_to "Sign Out!", sign_out_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    
      <p><%= render 'form' %></p>
      <p><%= link_to 'Drop Class', student_path(current_student), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% else %>
      <h1> You are not who you say you are!</h1>
    <% end %>
  </div>
</div><!-- end container -->
          
=======
<div class="page-header">
  <div class="row">
    <h1 class="col-sm-8">Edit this student</h1>
      <div class="col-sm-8">
        <%= link_to 'Home', students_path, class: 'btn btn-default pull-left' %>
      </div>
  </div>
</div>
<%= render partial: 'form', locals: {submit_copy: 'Update this student'} %>

>>>>>>> 5f65be8be2389aa9f73c42687bf21df2173839c4
