<%= render 'header' %>

<div class="container" id="content">
  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>
  <div class="row">
    <div class="page-header">
        <h1 class="pull-left">Students</h1>
        
        <div class="pull-right">
          <div class="btn-group">
            <% if current_student %>
            <%= link_to "I'm here!", new_attendance_path(current_student), class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_student_path(current_student), class: 'btn btn-primary' %>
              <%= link_to "Sign Out!", sign_out_path, class: 'btn btn-primary' %>
            <% else %>
              <%= link_to "Sign In!", new_session_path, class: 'btn btn-primary' %>
              <%= link_to "Sign Up!", new_student_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      
    </div>
  </div>
  
  <div class="seatsTable">
    <table class="seatsTable">
      <tr class="seatsTable">
        <td class="seatsTable">1</td>
        <td class="seatsTable">2</td>
      </tr>
      <tr class="seatsTable">
        <td class="seatsTable">3</td>
        <td class="seatsTable">4</td>
      </tr>
    </table>
  </div>
  
  <% @students.each do |student| %>
    <div class="row">
      <div class="col-sm-7 student-profile">
          
            <div class="avatar pull-left" style='background-image: url(<%= avatar_url(student) %>)'></div>
            <div class="student">
              <p><strong><%= link_to student.name, student %></strong></p>
              <p><strong>Nickname: </strong><%= student.nickname %></p>
              <p><strong>Email: </strong><%= student.email %></p>
            </div>
         
        </div>
    </div>
  <% end %>
  
</div>