<<<<<<< HEAD
<%= render 'header' %>

<div class="container" id="content">
  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>
  <div class="row">
    <div class="page-header">
        <h1 class="pull-left">Students</h1>
        
        <div class="pull-right">
          <div class="btn-group">
            <% if current_student %>
              <%= link_to "I'm here!", new_attendance_path(current_student), class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_student_path(current_student), class: 'btn btn-primary' %>
              <%= link_to "Sign Out!", sign_out_path, class: 'btn btn-primary' %>
            <% else %>
              <%= link_to "Sign In!", new_session_path, class: 'btn btn-primary' %>
              <%= link_to "Sign Up!", new_student_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      
    </div>
  </div>
  
  <div class="row">
    
    <div class="seatsTable">
      <table class="seatsTable">
        <tr class="seatsTable">
          <td class="seatsTable">
            <% @students.in_seat(1).each do |student| %>
              <div>
                <div class="avatar pull-left" style='background-image: url(<%= avatar_url(student) %>)'>
                <div class="name-here"><%= student.nickname %></div></div>  
                
              </div>
            <% end %>
          </td>
          <td class="seatsTable">
            <% @students.in_seat(2).each do |student| %>
              <div>
                <div class="avatar pull-left" style='background-image: url(<%= avatar_url(student) %>)'>
                <div class="name-here"><%= student.nickname %></div></div>  
                
              </div>
            <% end %>
          </td>
        </tr>
        <tr class="seatsTable">
          <td class="seatsTable">
            <% @students.in_seat(3).each do |student| %>
              <div>
                <div class="avatar pull-left" style='background-image: url(<%= avatar_url(student) %>)'>
                <div class="name-here"><%= student.nickname %></div></div>  
                
              </div>
            <% end %>
          </td>
          <td class="seatsTable">
            <% @students.in_seat(4).each do |student| %>
              <div>
                <div class="avatar pull-left" style='background-image: url(<%= avatar_url(student) %>)'>
                <div class="name-here"><%= student.nickname %></div></div>  
                
              </div>
            <% end %>
          </td>
        </tr>
      </table>
     </div>
  </div>
  
  <% @students.absent.each do |student| %>
    <div class="row">
      <div class="col-sm-7 student-profile">
          
            <div class="avatar pull-left" style='background-image: url(<%= avatar_url(student) %>)'></div>
            <div class="student">
              <p><strong><%= link_to student.name, student %></strong></p>
              <p><strong>Nickname: </strong><%= student.nickname %></p>
              <p><strong>Email: </strong><%= student.email %></p>
            </div>
         
        </div>
    </div>
  <% end %>
  
</div>
=======
<div class="page-header">
  <div class="row">
    <h1 class="col-sm-8">Students</h1>
     <div class="col-sm-8">
       <span style="margin-right: 20px;"><%= link_to 'Login', 'login', class: 'btn btn-default pull-left' %></span>
       <span style="margin-right: 20px;"><%= link_to "I'm Here", attendances_path, class: 'btn btn-default' %></span>
      <%= link_to 'Logout', 'logout', class: 'btn btn-default' %>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Create a new student', new_student_path, class: 'btn btn-default pull-right' %>
    </div>
  </div>
</div>


<% @students.each do |student| %>
  <div id="<%=dom_id(student)%>" class="list-item">
    <div class="avatar pull-left" style='background-image: url(<%= student.avatar %>)'></div>

    <div class="info-block">
      <h4><%= link_to student.name, edit_student_path(student) %></h4>
      <p><em>(<%= student.nickname %>)</em></p>
      <p><%= student.email %></p>
    </div>
  </div>
<% end %>
>>>>>>> 5f65be8be2389aa9f73c42687bf21df2173839c4
