<%= render 'header' %>

<div class="container" id="content">
  <p>
    <strong>Name:</strong>
    <%= @student.name %>
  </p>
   
  <p>
    <strong>Nickname:</strong>
    <%= @student.nickname %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @student.email %>
  </p>
   
  <p>
    <strong>Image Url:</strong>
    <%= @student.image_url %>
  </p>
<div>

<%= link_to 'Back', students_path %>